<% layout('./layouts/boilerplate') -%> 

<div class="container my-4">
  <div class="row g-4 justify-content-center">
    <% for (let d of data) { %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card indexCard h-100">
          <a class="card-link text-decoration-none text-dark" href="/listing/<%= d._id %>">
            <div class="position-relative">
              <img src="<%= d.image.url %>" class="card-img-top card-image" alt="listing">
              <div class="like-symbol position-absolute top-0 end-0 p-2">
                <i class="fa-regular fa-heart"></i>
              </div>
            </div>
            <div class="card-body index-card-body">
              <p class="card-title fw-bold"><%= d.title %></p>
              <p class="card-price text-muted">&#x20B9 <%= d.price.toLocaleString("en-IN") %>/night</p>
            </div>
          </a>
        </div>
      </div>
    <% } %>
  </div>
</div>
