 <% layout('./layouts/boilerplate') -%> 
      <body>   
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 indexbody">
               <%for(let d of data){%>
               <a href="/listing/<%=d._id%>">
               <div class="card col">
                    <img src="<%=d.image.url%>" class="card-img-top card-image" alt="listing" />
                     <div class="card-img-overlay"></div>
                     <div class="like-symbol"><i class="fa-regular fa-heart"></i></div>
               <div class="card-body index-card-body">
                    <p class="card-title"><b><%=d.title%></b></p>
                    <p class="card-price">&#x20B9 <%=d.price.toLocaleString("en-UN")%>/night</p>
                    
     
               </div>
               </div>
               </a>
              <%}%>
          </div>
          
     </body>

