 <% layout('./layouts/boilerplate') -%> 
          <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 indexBody offset-1">
                    <%for(let d of data){%>
                    
                         <div class="card col">
                              <a class='card-link'href="/listing/<%=d._id%>">
                                   <div class="like-symbol"><i class="fa-regular fa-heart"></i></div> 
                                   <img src="<%=d.image.url%>" class="card-img-top card-image" alt="listing" />
                                        <div class="card-img-overlay"></div>
                                   <div class="card-body index-card-body">
                                        <p class="card-title"><b><%=d.title%></b></p>
                                        <p class="card-price">&#x20B9 <%=d.price.toLocaleString("en-UN")%>/night</p>
                                        
                         
                                        </div>
                               </a>
                         </div> 
                   
                     <%}%>
          </div>
               
    

