<% layout('./layouts/boilerplate') -%>
<div class=" row col-8 offset-2">
   <body>
    <h1>Add Listing</h1>
     <form method="post" action="/listing/new">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
             <input type="text" class="form-control" name="title">
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
             <textarea name="description" class="form-control"></textarea>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image(url)</label>
             <input type="text" class="form-control" name="image">
        </div>
       
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number"  class="form-control" name="price" >
        </div>
        <div class="row">
            <div class="mb-3 col-4">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control"name="location" >
        </div>
        <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input type="text"  class="form-control"  name="country" >
        </div>
       </div>
         
        <button class="btn btn-danger">ADD</button>
        <br><br>
    </form>
  </body>
 </div>
