<% layout('./layouts/boilerplate') -%>
<body>
  <div class="container my-3">
    <div class="alert alert-danger d-flex justify-content-center align-items-center text-center" role="alert" style="min-height: 60px;">
      <%= msg %>
    </div>
  </div>
</body>
