<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderLust</title>
</head>
<body>
     <h1>All Listings</h1>
     <a href="/listing/new"><button>Add listing</button></a>

     <ul>
       <% for(let d of data){%>
            <a href="/listing/<%=d._id%>"><li><%=d.title%></li></a>
        <%}%>
     </ul>
</body>
</html>