<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderLust</title>
</head>
<body>
    <h1>Add listing</h1>
     <form method="post" action="/listing/new">
        <input type="text" placeholder="enter name of home" size="51" name="title"><br><br>
        <textarea name="description" rows="8" cols="50">enter your home description</textarea><br><br>
        <input type="text" placeholder="enter place image(url)" name="image" size="51"><br><br>
        <input type="number" placeholder="enter price" name="price" size="51"><br><br>
        <input type="text" placeholder="enter location" name="location">
        <input type="text" placeholder="enter country" name="country">
        <br><br>
        <button>EDIT</button>
    </form>
</body>
</html>