<body>
    <div class="footer border-top">
        <div class="f-social">
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-company">
            <p>&copyWonderlust Private Limited</p>
        </div>
        <div class="f-links">
            <a href="">PrivacyTerms</a>
        </div>
    </div>
</body>
