<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-white" id="navbarNavDropdown">
      <!-- Left Nav Links -->
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/listing">Explore</a>
        <a class="nav-link" href="/listing/new">Add Listing</a>
      </div>

      <!-- Search Bar -->
      <!-- Responsive Search Bar -->
  <div class="row">
  <div class="col-12">
<form class="d-flex flex-grow-1 mx-2 my-2 my-lg-0" method="POST" action="/listing/search" role="search">
  <input
  class="form-control me-2 w-100 w-sm-75 w-md-50 w-lg-25"
  type="search"
  name="location"
  placeholder="Satara, Maharashtra"
  aria-label="Search"
/>

  <button class="btn btn-outline-danger w-40 w-sm-40 w-md-30 w-lg-30" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>
</div>
</div>

      <!-- Auth Links -->
      <div class="navbar-nav">
        <% if (!user) { %>
          <a class="nav-link" href="/signup">Signup</a>
          <a class="nav-link" href="/login">Login</a>
        <% } else { %>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
