<% layout('./layouts/boilerplate') -%>
<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="w-100" style="max-width: 400px;">
      <h4 class="text-center mb-4">Login</h4>
      <form method="post" action="/login" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" required />
          <div class="invalid-feedback">Please enter username</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control" name="password" required />
          <div class="invalid-feedback">Please enter password</div>
        </div>
        <div class="d-grid">
          <button class="btn btn-success">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
